@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #658C58;
    color: #F6F6F6;
}

.cabecalho {
    padding: 5% 0 0 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    color: #BBC863;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}


.titulo-destaque {
    color: #BBC863;
}

.apresentacao {
    padding: 8% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
    
.apresentacao__ancoras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__ancoras__subtitulo {
    font-family: "Poppins", sans-serif;
    font-size: 24px
}

.apresentacao__ancoras__ancora {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #BBC863;
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #ffffff;
}

.apresentacao__ancoras__ancora:hover {
    background-color: #BBC863;
}

.rodape {
    color:#F6F6F6;
    background-color: #BBC863;
    padding: 24px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

