@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primaria: #658C58;
    --color-secundaria: #F6F6F6;
    --color-terciaria: #BBC863;

    --fonte-principal: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color:var(--color-secundaria);
}

.cabecalho {
    padding: 5% 0 0 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    color:var(--color-terciaria);
    font-family: var(--fonte-principal);
    font-size: 24px;
}


.titulo-destaque {
    color:var(--color-terciaria);
}

.apresentacao {
    padding: 8% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family:var(--fonte-principal);
}
    
.apresentacao__ancoras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__ancoras__subtitulo {
    font-family:var(--fonte-principal);
    font-size: 24px
}

.apresentacao__ancoras__ancora {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--color-secundaria);
}

.apresentacao__ancoras__ancora:hover {
    background-color:var(--color-terciaria);
}

.dimensaoicones {
    filter: invert(98%) sepia(1%) saturate(0%) hue-rotate(329deg) brightness(105%) contrast(92%);;
    width: 32px;
}

.rodape {
    color:var(--color-secundaria);
    background-color:var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
}

